@charset "UTF-8";

h1 {
    font-family: "bebas neue", sans-serif;
    color: rgb(160, 0, 0);
    text-align: center;
}

body {
   background-image: url(Untitled\ design.png) ;
   text-align: center;
   background-repeat: no-repeat;
   background-size: cover;
}

body {
color: rgb(255, 255, 255);
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
  }
 
.nav-link {
 
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px;
    transition: backgroud color 0,3s ease;
  }

  .netflix {
    font-size: xx-large;

}

p {
  margin-left: 450px;
  text-align: justify;
  width: 1000px;
  display: auto;

}


